@{
    Layout = "master.cshtml";
    ViewBag.Title = "screrve";
}
<div class="title">screrve</div>
<div class="byline">A simple script hosting website.  For me.</div>
<div><a href="scripts">scripts</a>@*&nbsp;-&nbsp;<a href="access">access</a>*@</div>
