<!doctype html>
<html lang="en">
<head>
    <link href="../Content/screrve.css" rel="stylesheet" />
    <script src="../Content/screrve.js"></script>
    <script src="../Content/jquery.fileupload.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Metrophobic' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()    
    <div class="nancy">
        <img src="~/Content/nancy-logo.png" alt="Nancy logo" /><br />
        using <a href="http://nancyfx.org/">Nancy</a>;
    </div>
</body>
</html>
